@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #43a047;
  color: #fff;
}

/**************************************************************************************************************/

.header {
  display: flex;
  justify-content: space-between;
  width: 46%;
  margin: 24px 2% 0 2%;
}

.logo {
  font-family: "Fredoka", sans-serif;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-left {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px 0 0 5px;
  padding: 6px 8px;
}

.counter-left-arrow {
  float: left;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 10px solid rgba(255, 255, 255, 0.7);
  border-bottom: 7px solid transparent;
}

.counter-centre {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  padding: 3px 24px;
}

.counter-centre-plate {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-family: "PT Sans", sans-serif;
}

.counter-centre-arrow {
  padding: 8px 4px 5px 6px;
}

.counter-down-arrow {
  float: left;
  width: 0;
  height: 0;
  border-left: 4.5px solid transparent;
  border-top: 7px solid rgba(255, 255, 255, 0.9);
  border-right: 4.5px solid transparent;
}

.counter-right {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0 5px 5px 0;
  padding: 6px 8px;
}

.counter-right-arrow {
  float: left;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 10px solid rgba(255, 255, 255, 0.7);
  border-bottom: 7px solid transparent;
}

.modal-levels {
  position: absolute;
  width: 160px;
  border-radius: 5px;
  background-color: #2c3e50;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  z-index: 50;
  display: none;
}

.modal-levels:after {
  content: "";
  position: absolute;
  top: -12px;
  left: calc(50% - 12px);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2c3e50;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px;
}

.level {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid transparent;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reset {
  width: 96%;
  margin: 10px 3% 0 3%;
  padding-bottom: 1.5%;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  align-self: center;
  text-align: center;
  cursor: pointer;
}

.level:hover,
.reset:hover,
.current {
  border-color: rgba(255, 255, 255, 0.5);
}

.solved {
  background-color: #228b24;
}

/**************************************************************************************************************/

.left {
  width: 47%;
  margin: 18px 2% 0 2%;
}

.instructions {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  position: relative;
}

.text {
  margin-bottom: 18px;
}

.coding-instructions {
  padding: 1.5px 1px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
}

.modal-help {
  position: absolute;
  display: inline-block;
  max-width: 350px;
  min-width: 350px;
  padding: 2% 2.5%;
  border-radius: 5px;
  font-size: 12px;
  line-height: 170%;
  z-index: 1;
  background-color: #2c3e50;
  display: none;
}

.modal-help:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 12px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #2c3e50;
}

.modal-help .text {
  margin: 0 0 10px 0;
}

ul {
  margin: 0px 45px 20px 45px;
}

li {
  margin-bottom: 5px;
}

/**************************************************/

.codebox {
  height: 260px;
  width: 100%;
  margin-top: 30px;
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  position: relative;
}

.codebox-animation {
  animation-name: codebox-shake;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

.numbers {
  width: 5%;
  height: 100%;
  font-weight: 400;
  background-color: #999;
  color: #d5d5d5;
  border-radius: 5px 0 0 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  width: 95%;
  height: 100%;
  background-color: #e0e0e0;
  color: #777;
  border-radius: 0 5px 5px 0;
}

.written-code {
  line-height: 1.3;
  margin: 11px 10px;
}

.written-code-2 {
  line-height: 1.5;
  margin: 11px 10px 0 10px;
}

.written-code-2-2 {
  line-height: 1.1;
  margin: 0 10px 11px 10px;
}

.input-code {
  padding: 2px 2.5px;
  margin-top: 2px;
  width: calc(100% - 25px);
  border: 0;
  outline: none;
  overflow: auto;
  resize: none;
  font-family: "Source Code Pro", monospace;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #666;
}

.btn-next {
  position: absolute;
  bottom: 15px;
  right: 15px;
  padding: 10px 15px;
  background-color: #d11606;
  color: #e0e0e0;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn-next:hover {
  background-color: #eb2918;
  box-shadow: 0px 1px 3px #d11606;
}

.btn-next-animation {
  animation-name: btn-shake;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

/**************************************************/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  width: 70%;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.links a {
  color: rgba(255, 255, 255, 0.6);
}

.links:nth-child(2) {
  margin-bottom: 15px;
}

.links:nth-child(4) {
  margin-bottom: 30px;
  width: 79%;
}

.btn-settings {
  padding: 1px 8px 3px 8px;
  border-radius: 4px;
  border: 0;
  outline: 0;
  margin-top: 5px;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.7);
}

.links hr {
  width: 90%;
  border-top: 1px;
}

.divider {
  color: rgba(255, 255, 255, 0.6);
}

/**************************************************************************************************************/

.right {
  position: fixed;
  width: 45.5vw;
  height: 45.5vw;
  top: 0;
  right: 3%;
  border-radius: 25px;
  background-color: #1f5768;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 43vw;
  height: 43vw;
  position: relative;
}

.pond {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
}

.frog-container {
  width: 20%;
  height: 20%;
}

.green-frog .frog {
  background-image: url(https://flexboxfroggy.com/images/frog-green.svg);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.yellow-frog .frog {
  background-image: url(https://flexboxfroggy.com/images/frog-yellow.svg);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.red-frog .frog {
  background-image: url(https://flexboxfroggy.com/images/frog-red.svg);
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.frog-animation {
  animation-name: frog-pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.pads {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
}

.pad-container {
  width: 20%;
  height: 20%;
}

.green-pad .pad {
  background-image: url(https://flexboxfroggy.com/images/lilypad-green.svg);
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* transform: scale() rotate(); */
}

.yellow-pad .pad {
  background-image: url(https://flexboxfroggy.com/images/lilypad-yellow.svg);
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* transform: scale() rotate(); */
}

.red-pad .pad {
  background-image: url(https://flexboxfroggy.com/images/lilypad-red.svg);
  background-size: 90% 90%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* transform: scale() rotate(); */
}

/**************************************************************************************************************/

.hover-class {
  cursor: pointer;
}

.disable {
  opacity: 0.5;
}

.disable:hover {
  box-shadow: none;
}

@keyframes codebox-shake {
  100%,
  0% {
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes btn-shake {
  0% {
    transform: scale3d(1, 1, 1);
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes frog-pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (max-width: 1100px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    margin: 24px 5vw 20px 5vw;
  }

  .logo {
    margin: 0 0 0 6vw;
  }

  .counter {
    margin: 0 6vw;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .left {
    width: 90vw;
    margin: 0;
  }

  .modal-help {
    max-width: 325px;
    min-width: 20%;
  }

  .right {
    position: static;
    width: 90vw;
    height: 90vw;
    background-color: #1f5768;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    border-radius: 25px;
  }

  .board {
    width: 88vw;
    height: 88vw;
    position: relative;
  }
}

@media screen and (max-width: 565px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 10px;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .left {
    width: 90vw;
    margin: 0;
  }

  .modal-help {
    max-width: 75%;
    min-width: 20%;
  }

  .right {
    position: static;
    width: 90vw;
    height: 90vw;
    background-color: #1f5768;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    border-radius: 25px;
  }

  .board {
    width: 88vw;
    height: 88vw;
    position: relative;
  }
}
